doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Weather App
        style 
            include ../public/style.css
       
    body
        
        div.container
            form(action="/",id='form') 
                h1.heading Weather App  
                input(type="text" placeholder='Enter location' id='input' class='form_elements')
                button.form_elements search
            div#myvalue.form_elements
            script 
                include ../public/staticindex.js